.layout-content-wrapper {
    padding: 0;
    overflow-x: hidden;
    position: relative;
    padding-top: 6rem;
}

.layout-content {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding-top: 1rem;
}
